<div class="text-center mt-5">

    <h1 class="display-4">
        Emergency Support System
    </h1>

    <p>
        Manage emergency requests,
        responders, assignments,
        notifications and support services.
    </p>

</div>