@model EmergencySupport.Entities.Assignments

@Html.Partial("_Message")

<div class="container border mt-4 p-4">

    <div class="row">
        <div class="col-12">

            @if (Model.AssignmentId == 0)
            {
                <h2>Create Emergency Assignment</h2>
            }
            else
            {
                <h2>Emergency Assignment #@Model.AssignmentId</h2>
            }

        </div>

        <hr />
    </div>

    <form method="post">

        <input type="hidden" asp-for="AssignmentId" />

        <div class="row mb-3">
            <label asp-for="RequestId" class="form-label"></label>

            <select asp-for="RequestId" asp-items="@ViewBag.RequestList" class="form-control">
                <option disabled="disabled">Select Emergency Request</option>
            </select>

            <span asp-validation-for="RequestId" class="text-danger"></span>
        </div>

        <div class="row mb-3">
            <label asp-for="ResponderId" class="form-label"></label>

            <select asp-for="ResponderId" asp-items="@ViewBag.UserList" class="form-control">
                <option disabled="disabled">Select Responder</option>
            </select>

            <span asp-validation-for="ResponderId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Status" class="form-label"></label>

            <select asp-for="Status" class="form-control">

                <option value="Pending">
                    Pending
                </option>

                <option value="In Progress">
                    In Progress
                </option>

                <option value="Completed">
                    Completed
                </option>

            </select>

            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-info">
            <i class="bi bi-floppy-fill"></i> &nbsp; Save
        </button>

        <a asp-action="Index" class="btn btn-secondary">
            <i class="bi bi-box-arrow-left"></i> &nbsp; Back
        </a>

    </form>

</div>

@section Scripts
{
    @Html.Partial("_ValidationScriptsPartial")
}